<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>karma</title>
	<link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
</head>
<body>
	{{#unless user}}
	<div id="login-container" class="container">
		<form action="/users/signin" >
		<img src="panda.png" height="200">
		<h1>KARMA</h1>
		<input id="login-username" type="text" placeholder="Username" name="username">
		<input id="login-password" type="password" placeholder="Password" name="password">
		<input id="login-submit" type="submit">
		</form>
	</div>
	{{else}}
	<div id="edit-container" class="container">
		<select name="subject">
			<option value="math">Mathematics</option>
			<option value="chem">Chemistry</option>
			<option value="bio">Biology</option>
			<option value="econs">Economics</option>
			<option value="english">English</option>
			<option value="comp">Computing</option>
			<option value="comedy">Romance</option>
		</select>
		<canvas id="camera-canvas"></canvas>
		<button id="camera-close">X</button>
		<button id="camera-send">OK</button>
	</div>
	<div id="chat-container" class="container">
		<div id="chat-header">
			<button id="chat-exit">&lt; Exit</button>
			<span>My name</span>
		</div>
		<div id="chat-messages"></div>
		{{!-- <form name="" onsubmit="(function(){return false})()"> --}}
		<div id="chat-bottom">
			<input id="chat-new-text" type="text">&nbsp;
			<input id="chat-new-photo" type="button" value="C">
			<input id="chat-new-send" type="submit" value="GO">
		</div>
		{{!-- </form> --}}
	</div>
	<div id="rating-container" class="container">
		<!-- insert text, 5 star buttons -->
		<p id="thatsall">That's all!</p>
		<p id="howwell">How well did this person answer your questions?</p>
		<button class="star-button" id="rating-one">⭐</button>
		<button class="star-button" id="rating-two">⭐</button>
		<button class="star-button" id="rating-three">⭐</button>
		<button class="star-button" id="rating-four">⭐</button>
		<button class="star-button" id="rating-five">⭐</button>
	</div>
	<div id="camera2-container" class="container">
		<!-- insert video, canvas, snap button, close buton, retake button  -->
		<button id="camera2-button"></button>
		<video id="camera2-video" autoplay></video>
		<canvas id="camera2-canvas"></canvas>
		<button id="camera2-close">X</button>
		<button id="camera2-cancel">X</button>
		<button id="camera2-send">OK</button>
	</div>
	<div id="loading-container" class="container">
		<div id="loading-header">
			<button id="loading-send">Find a live tutor!</button>
		</div><div id="loading-suggestions">
			<p id="loading-suggestions-title">...or did you mean?</p>
			<div id="loading-suggestions-container">
				<div class="loading-suggestion" style="background-image: url(math1.jpg)" data-teachid="math1"></div>
				<div class="loading-suggestion" style="background-image: url(math2.jpg)" data-teachid="math2"></div>
				<div class="loading-suggestion" style="background-image: url(math3.jpg)" data-teachid="math3"></div>
			</div>
		</div>
		 <div id="loading-chat">

			<div class="message image-message received-message"></div>
			<div class="message received-message"><span>Hello you amazing person</span></div>
			<div class="message sent-message"><span>Hello my good friend</span></div>
			<button id="loading-chat-close">X</button>
		</div>
	</div>
	<div id="overall-container" class="container" data-scrollable="true">
		<div id="camera-container">
			<button id="camera-button"></button>
			<video id="camera-video" autoplay></video>
		</div><div id="teach-container" class="container" >
			<div class="teach-card" style="background-image: url(math1.jpg)" data-teachid="math1">
				<p>Mathematics</p>
			</div>
			<div class="teach-card" style="background-image: url(bio1.jpg)" data-teachid="bio1">
				<p>Biology</p>
			</div>
		</div><div id="profile-container" class="container">
			<div id="profile-picture" style="background: url(Emile_Berliner.jpg)"></div>
			<p id="profile-name">{{user.name}}</p>
			<p id="profile-karma">{{user.karma}} Karma</p>
		</div>
	</div>
	<script src="scroller/Animate.js"></script>
	<script src="scroller/Scroller.js"></script>
	<script src="scroller/EasyScroller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>
	<script type="text/javascript">
		let curUserId = "{{user._id}}";
	</script>
	<script src="script.js"></script>

	{{/unless}}
</body>
</html>